{% extends 'dashboard.html.twig' %}

{% block header %}
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.js"> </script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.css"/>
  {% block stylesheets %}
      
    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
      
     {% endblock %}

{% endblock %}

{% block body %}

<div class="right_col" role="main" style="min-height: 478px;">

        <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Ajouter Incident <small>Décrire l'incident<e l'incident en Français</small></h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>
                    
                    {% for flash_message in app.session.flashBag.get('Erreur') %}
                          <div class="alert alert-danger alert-dismissible fade in" role="alert">
                              {{ flash_message }}
                          </div>
                      {% endfor %}

                        {% for flash_message in app.session.flashBag.get('Notice') %}
                          <div class="alert alert-warning alert-dismissible fade in" role="alert">
                              {{ flash_message }}
                          </div>
                      {% endfor %}

                    <h3> Général </h3>
                   
                        {{ form_start(formDeclarerIncident, { 'attr' : { 'id' : 'demo-form2', 'data-parsley-validate': '', 'class' : 'form-horizontal form-label-left', 'novalidate': ''  } }) }}
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="incident[client]">Client <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          
                          {% if client is defined %}
                                {{ form_widget(formDeclarerIncident.client, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12',  'disabled' : 'true'} } )}}
                                {% else %}
                                {{ form_widget(formDeclarerIncident.client, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} } )}} 
                           {% endif %}
                        </div>
                      </div>
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Titre <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          
                          {{ form_widget(formDeclarerIncident.Titre, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} } )}}
                        </div>
                      </div>
                      
                       <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Type de l'incident <span class="required">*</span> </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div id="gender" class="btn-group" data-toggle="buttons">
                                {{ form_widget(formDeclarerIncident.Type, { 'attr' : { 'class' : 'iCheck-helper'} } )}} 
                          </div>
                        </div>
                      </div>
                      

                      
                     
                      
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12">Date Debut de l'incident
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                         <table>
                                <tr>
                                <td style="width: 150px;"> Connue : Non {{ form_widget(formDeclarerIncident.ddiConnue, { 'attr' : { 'class' : 'js-switch','data-switchery' : 'true', 'style' : 'display : none'} } )}}  Oui   </td>
                                <td> {{ form_widget(formDeclarerIncident.DateDebut, { 'attr' : { 'class' : ''} } )}} </td>
                                
                                </tr>
                        </table>
                        </div>
                      </div>
                      
                      
                       
                       
                       
                      
                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Durée approximative de résolution 
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           {{ form_widget(formDeclarerIncident.dureeResolution,  { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12','placeholder' : 'Ex : 30 min, 1 heure, ...'} } )}}   
                        </div>
                      </div>
                        
                         <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Date Fin Incident 
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                           <table>
                                <tr>
                                <td style="width: 150px;"> Connue : Non  {{ form_widget(formDeclarerIncident.dfiConnue, { 'attr' : { 'class' : 'js-switch','data-switchery' : 'true', 'style' : 'display : none'} } )}}  Oui   </td>
                                <td> {{ form_widget(formDeclarerIncident.DateFin, { 'attr' : { 'class' : '', 'required' : 'false'} } )}}   </td>
                                
                                </tr>
                        </table>
                        </div>
                      </div>
                         

                         
                         

                         
                            <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Description de l'incident <span class="required">*</span> 
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(formDeclarerIncident.descTechnique, { 'attr' : { 'class' : 'form-control', 'rows' : '4'} } )}}
                        </div>
                      </div>
                            
                             <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Notes internes
                        <div class="alert alert-info alert-dismissible fade in" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                        </button>
                       Ces notes ne seront pas prises en compte dans les diffusions.
                         </div>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(formDeclarerIncident.notes, { 'attr' : { 'class' : 'form-control', 'rows' : '4'} } )}}
                        </div>
                      </div>


                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Numéro du REX Jira
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(formDeclarerIncident.rex, { 'attr' : { 'class' : 'form-control', 'rows' : '4'} } )}}
                        </div>
                      </div>


                             <hr class="half-rule"/>
                        <h3> Impacts </h3>     
                        <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Impact <span class="required">*</span> </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {{ form_widget(formDeclarerIncident.impact, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} } )}} 
                        </div>
                      </div>
                             
                         <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Date Debut Impact
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                                <table>
                                <tr>
                                <td style="width: 150px;"> Connue : Non  {{ form_widget(formDeclarerIncident.ddimConnue, { 'attr' : { 'class' : 'js-switch','data-switchery' : 'true', 'style' : 'display : none'} } )}}  Oui   </td>
                                <td> {{ form_widget(formDeclarerIncident.DateDebutImpact, { 'attr' : { 'class' : '', 'required' : 'false'} } )}}     </td>
                                
                                </tr>
                        </table>
                          
                        </div>
                      </div>
                        
                         <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Date Fin Impact
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                                 <table>
                                <tr>
                                <td style="width: 150px;"> Connue : Non  {{ form_widget(formDeclarerIncident.dfimConnue, { 'attr' : { 'class' : 'js-switch','data-switchery' : 'true', 'style' : 'display : none'} } )}}  Oui   </td>
                                <td> {{ form_widget(formDeclarerIncident.DateFinImpact, { 'attr' : { 'class' : '', 'required' : 'false'} } )}}   </td>
                                
                                </tr>
                        </table>
                          
                        </div>
                      </div>
                         
                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Ressenti Utilisateur <span class="required">*</span> 
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(formDeclarerIncident.ressentiUtilisateur, { 'attr' : { 'class' : 'form-control', 'rows' : '4'} } )}}
                        </div>
                      </div>
                             

                            
                             <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12"> Les Applications/Metiers impactés <span class="required">*</span> 
                                </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          Application   {{ form_widget(formDeclarerIncident.isApplicationImpact, { 'attr' : { 'class' : 'js-switch','data-switchery' : 'true', 'style' : 'display : none', 'id':'tg-button'} } )}}    Metier 
                                        
                        </div>
                        </div>
                            
                             <div class="form-group" id="impactApplication">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Impact Application 
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(formDeclarerIncident.impactApplication, { 'attr' : { 'class' : 'select2_multiple form-control', 'style' : 'height:300px;'} } )}}   
                        </div>
                      </div>
                            
                       
                        <div class="form-group"  id="impactMetier">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12"> Impact Metier 
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            {{ form_widget(formDeclarerIncident.impactMetier, { 'attr' : { 'class' : 'select2_multiple form-control', 'style' : 'height:300px;'} } )}}   
                        </div>
                      </div>
                      
                      <div class="ln_solid"></div>
                      <div class="form-group" width="100px;">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <input type="submit" class="btn btn-success" value="ajouter incident">
                        </div>
                      </div>
                     
                        {{ form_end(formDeclarerIncident) }}

                         <script>
                        var $client = $('#incident_client');
                        console.log($client) ;
                        // When sport gets selected ...
                        $client.change(function() {
                          console.log('changed') ;
                          // ... retrieve the corresponding form.
                          var $form = $(this).closest('form');
                          // Simulate form data, but only include the selected sport value.
                          var data = {};
                          data[$client.attr('name')] = $client.val();
                         

       

                          // Submit data via AJAX to the form's action path.

                          $.ajax({
                            url : $form.attr('action'),
                            type: $form.attr('method'),
                            data : data,
                            success: function(html) {
                          
                               
                              $('#incident_impactMetier').replaceWith(

                                // ... with the returned one from the AJAX response.
                                $(html).find('#incident_impactMetier')
                              );

                              $('#incident_impactApplication').replaceWith(

                                // ... with the returned one from the AJAX response.
                                $(html).find('#incident_impactApplication')
                              );

                              $('#incident_impact').replaceWith(

                                // ... with the returned one from the AJAX response.
                                $(html).find('#incident_impact')
                              );


                           




                              

                            }
                          });
                        });
                        </script>

                    
                  </div>
                </div>
              </div>
            </div>

</div>




{% endblock %}

 {% block javascripts %}
            {% javascripts '@AppBundle/Resources/public/js/bootstrap.min.js'
      '@AppBundle/Resources/public/js/custom.min.js'
      '@AppBundle/Resources/public/js/fastclick.js'
      '@AppBundle/Resources/public/js/ngprogress.js'
      '@AppBundle/Resources/public/js/switchery.min.js'
       '@AppBundle/Resources/public/js/fullscreen.js'
       '@AppBundle/Resources/public/js/script.js'
      %}
          <script src="{{ asset_url }}"></script>
      {% endjavascripts %}
      {% endblock %}