{% extends 'dashboard.html.twig' %}

{% block header %}
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.js"> </script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.css">


  <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>

  {% block stylesheets %}
      
    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% endblock %}

{% block body %}


<!-- Script --> 




<!-- end script --> 



<div class="right_col" role="main" style="min-height: 478px;">
              <div class="title_left">
                <h3>Gestion des applications </h3>
                <div style="margin-bottom:4px;">  
               <small> <a href="/"> Accueil </a> >  <a href="/settings">  Paramètres   </a> >  <a href="/application/add">  <span style="color:red"> Gestion des applications  </span>  </a>  </small>
              </div>
              </div>
        <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> {{ pageTitle}}  </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>

                   {% for flash_message in app.session.flashBag.get('Erreur') %}
                          <div class="alert alert-danger alert-dismissible fade in" role="alert">
                              {{ flash_message }}
                          </div>
                      {% endfor %}

                          {% for flash_message in app.session.flashBag.get('success') %}
                          <div class="alert alert-success alert-dismissible fade in" role="alert">
                              {{ flash_message }}
                          </div>
                      {% endfor %}
		

		
                        {{ form_start(form, { 'attr' : { 'id' : 'demo-form2', 'data-parsley-validate': '', 'class' : 'form-horizontal form-label-left', 'novalidate': ''  } }) }}




                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name"> Nom de l'application <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          
                          {{ form_widget(form.nomApplication, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} } )}}
                        </div>
                      </div>

                                              <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name"> Client <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          
                          {{ form_widget(form.client, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} } )}}
                        </div>
                      </div> 
		      
		        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Les métiers associés <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          
                          {{ form_widget(form.metiers, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} } )}}
                        </div>
                      </div>
                      
                      <div class="form-group">
                        <label for="middle-name" class="control-label col-md-3 col-sm-3 col-xs-12">Actif </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          {{ form_widget(form.activationStatus, { 'attr' : { 'class' : 'iCheck-helper'} } )}} 
                        </div>
                      </div>
                      
                  
                
                                
                      
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <input type="submit" class="btn btn-success" value="Valider">
                        </div>
                      </div>
                        {{ form_end(form) }}

                        <script>
                        var $client = $('#application_client');
                        // When sport gets selected ...
                        $client.change(function() {
                          console.log('changed') ;
                          // ... retrieve the corresponding form.
                          var $form = $(this).closest('form');
                          // Simulate form data, but only include the selected sport value.
                          var data = {};
                          data[$client.attr('name')] = $client.val();

                          

                          // Submit data via AJAX to the form's action path.

                          $.ajax({
                            url : $form.attr('action'),
                            type: $form.attr('method'),
                            data : data,
                            success: function(html) {
                              $('#application_metiers').replaceWith(
                                // ... with the returned one from the AJAX response.
                                $(html).find('#application_metiers')
                              );

                              
                              // Position field now displays the appropriate positions.
                            }
                          });
                        });
                        </script>

                    
                  </div>
                </div>
              </div>
            </div>
	
	<div class="row">
		<div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> Liste des applications  </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                  <br>



  <table id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
  <thead>
<tr>
<td> Nom de l'application </td>
<td> Client </td>
<td> Etat </td>
<td> Les métiers associés </td>
<td> Les listes de diffusion associées </td>
<td> Actions </td>
</tr>
</thead>
<tbody>

{% for application in applications %}
	<tr>
		<td> {{ application[0].nomApplication }} </td>
    <td> {{ application[0].client.clientName }}</td>
		<td> 

     {% set link =path('application_deactivate',{'id' : application[0].Id }) %}
        {% if application[0].activationStatus == true %}
                  
                  
                 Inactif   <input onChange="document.location.href='{{link}}'" type="checkbox" class="js-switch" checked="" data-switchery="true" style="display: none;"> Actif
          {% else %}
                     Inactif <input onChange="document.location.href='{{link}}'" type="checkbox"  class="js-switch" data-switchery="false" style="display : none" value="1"> Actif
          {% endif %}

    </td>
    <td>
    <ul>   
    {% for metier in application[0].metiers %}
    <li> {{ metier.nomMetier }} </li>
    {% endfor %}
    </ul> 
    </td>

    <td>
        <ul> 
            {% for mailingList in application[0].getMailingLists() %}
                {% if mailingList != "" %}
              <li>    {{ mailingList}} </li>
                {% endif %}
            {% endfor %}
        </ul> 
    </td> 
	  <td> 
			<a class="btn btn-round btn-info" href="{{path('application_details',{'id' : application[0].id })}}"> Détails </a>
			<a class="btn btn-round btn-warning" href="{{path('application_update',{'idApplication' : application[0].id })}}"> Mettre à jour </a>
			
	  </td>
	  
	  
{% endfor %}
</tbody>
</table>
		  </div>
		</div>
	     </div>
	</div>

</div>






{% endblock %}

 {% block javascripts %}
      {% javascripts '@AppBundle/Resources/public/js/bootstrap.min.js'
      '@AppBundle/Resources/public/js/custom.min.js'
      '@AppBundle/Resources/public/js/fastclick.js'
      '@AppBundle/Resources/public/js/ngprogress.js'
      '@AppBundle/Resources/public/js/switchery.min.js'
       '@AppBundle/Resources/public/js/fullscreen.js'

      %}
          <script src="{{ asset_url }}"></script>
      {% endjavascripts %}
      {% endblock %}
