{% extends 'dashboard.html.twig' %}
{% block header %}
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>


<script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.css"/>
  {% block stylesheets %}

    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

     {% endblock %}
{% endblock %}

{% block body %}
<div class="right_col" role="main" style="min-height: 478px;">

	  <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div style="margin-bottom:4px;">  
                <small> <a href="/"> Accueil </a> > <a href="/incident/list"> Liste des incidents </a>  >  <a href="/pos/add/{{incident.id}}">  <span style="color:red"> Gestion des points de situation ({{incident.titre}})  </span>  </a>  </small>
              </div>
                <div class="x_panel">
                  <div class="x_title">
                    <h2> Vos points de situation sur l'incident  </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>

                        {% for flash_message in app.session.flashBag.get('Erreur') %}
                          <div class="alert alert-danger alert-dismissible fade in" role="alert">
                              {{ flash_message }}
                          </div>
                      {% endfor %}

                        {% for flash_message in app.session.flashBag.get('Notice') %}
                          <div class="alert alert-warning alert-dismissible fade in" role="alert">
                              {{ flash_message }}
                          </div>
                      {% endfor %}


										<table id="datatable" class="table table-striped  dataTable no-footer" role="grid" aria-describedby="datatable_info">
                    <thead>
<tr role="row">
<td> Action réalisée </td>
<td> Date de l'action  </td>
<td> Prochaine action </td>
<td> Date de fin prévue</td>
<td> Date de prochain POS </td>
<td> Actions </td>
</tr>
</thead>
<tbody>
{% for pos in poss %}
	<tr>
		<td> {{ pos[0].realizedAction }} </td>
		<td> {{ pos[0].datePos | localizeddate('short', 'short', null) }} </td>
        <td> {{ pos[0].nextAction }} </td>
        <td>
					{% if  pos[0].resolutionDate!=null %}
					{{ pos[0].resolutionDate | localizeddate('short', 'short', null) }}
				{% else %}
					-
				{% endif %}
				</td>
		<td>
		{% if pos[0].nextPosDate !=null %}
			{{ pos[0].nextPosDate | localizeddate('short', 'short', null) }}
		{% else %}
			-
		{% endif %}
		</td>		
        <td> <a href="{{path('pos_delete',{'idIncident' : pos[0].incident.id, 'idPos' : pos[0].id })}}" class="btn btn-round btn-danger"> Supprimer </a>
				<a href="{{path('pos_update',{'idIncident' : pos[0].incident.id, 'idPos' : pos[0].id })}}" class="btn btn-round btn-warning"> Modifier  </a>
    </tr>


{% endfor %}
</tbody>
</table>


    </div>
 </div>
							</div>
							</div>





  <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> {{ pageTitle }} </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>

                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>

                    {% for flash_message in app.session.flashBag.get('Erreur') %}
                          <div class="alert alert-danger alert-dismissible fade in" role="alert">
                              {{ flash_message }}
                          </div>
                      {% endfor %}

                      {% for flash_message in app.session.flashBag.get('success') %}
                          <div class="alert alert-success alert-dismissible fade in" role="alert">
                              {{ flash_message }}
                          </div>
                      {% endfor %}

  {% if success is defined %}
                        {% if success != null %}
                    <div class="alert alert-success alert-dismissible fade in" role="alert">
                        {{  success }}                
                    </div>
			{%endif %}
		{%endif %}
		
                {% if errors is defined %}
                        {% if errors != null %}
                    <div class="alert alert-danger alert-dismissible fade in" role="alert">

                                        <ul> 
                                        {% for error in errors %}
                                                <li> {{ error.message }} </li>
                                        {% endfor%}
                                        </ul>

                                    </div>
                {%endif %}
		{%endif %}

  {{ form_start(form, { 'attr' : { 'id' : 'demo-form2', 'data-parsley-validate': '', 'class' : 'form-horizontal form-label-left', 'novalidate': ''  } } ) }}
  <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name"> Action réalisée  <span class="required">*</span>
	</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        {{ form_widget(form.realizedAction, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} } )}}
    </div>
 </div>

    <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name"> Prochaine Action
</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        {{ form_widget(form.nextAction, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12'} } )}}
    </div>
 </div>

		       <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12"> Type de POS <span class="required">*</span>
                                </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          Date de prochain POS   {{ form_widget(form.isResolution, { 'attr' : { 'class' : 'js-switch','data-switchery' : 'true', 'style' : 'display : none', 'id':'tg-button'} } )}}    Date de Résolution

                        </div>
                        </div>



                <div class="form-group" id="DR">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name" > Date de résolution <span class="required">*</span>
</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        {{ form_widget(form.resolutionDate)}}
    </div>
 </div>

        <div class="form-group" id="PP">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name"> Date prochain Pos <span class="required">*</span>
</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
        {{ form_widget(form.nextPosDate)}}
       
    </div>

 </div>
  <center> <input type="submit" class="btn btn-success" value="Valider"></input> </center>

{{ form_end(form) }}


                  </div>
                </div>
              </div>
  </div>
</div>



{% endblock %}

{% block javascripts %}
            {% javascripts '@AppBundle/Resources/public/js/bootstrap.min.js'
      '@AppBundle/Resources/public/js/custom.min.js'
      '@AppBundle/Resources/public/js/fastclick.js'
      '@AppBundle/Resources/public/js/ngprogress.js'
      '@AppBundle/Resources/public/js/switchery.min.js'
      '@AppBundle/Resources/public/js/script.js'
       '@AppBundle/Resources/public/js/fullscreen.js'
      %}
          <script src="{{ asset_url }}"></script>
      {% endjavascripts %}
      {% endblock %}
