{% extends 'dashboard.html.twig' %}

{% block header %}
    <script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>

<script> 
$(document).ready(function(){

   $("#counter").text($("#sms_title").val().length + $("#sms_text").val().length) ;

    $("#sms_title").keyup(function(){
        $("#counter").text($("#sms_title").val().length + $("#sms_text").val().length)
    }) ;
    
        $("#sms_text").keyup(function(){
        $("#counter").text($("#sms_text").val().length + $("#sms_title").val().length)
    })
    
})
</script>
  
  {% block stylesheets %}
      
    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
      
     {% endblock %}
{% endblock %}

{% block body %}

{% set pageTitle = "Envoyer SMS"%}

<div class="right_col" role="main" style="min-height: 478px;">

        <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
              <div style="margin-bottom:4px;">  
          <small> <a href="/"> Accueil </a> > <a href="/incident/list"> Liste des incidents </a>  >  <a href="/diffusion/sms/send/{{incident.id}}">  <span style="color:red"> Envoyer un sms ({{incident.titre}})  </span>  </a>  </small>
      </div>
                <div class="x_panel">
                  <div class="x_title">
                    <h2> Envoyer SMS <small></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>
		    





                    {% for flash_message in app.session.flashBag.get('Erreur') %}
                          <div class="alert alert-danger alert-dismissible fade in" role="alert">
                              {{ flash_message }}
                          </div>
                      {% endfor %}

                        {% for flash_message in app.session.flashBag.get('Notice') %}
                          <div class="alert alert-warning alert-dismissible fade in" role="alert">
                              {{ flash_message }}
                          </div>
                      {% endfor %}

                      {% for flash_message in app.session.flashBag.get('success') %}
                          <div class="alert alert-success alert-dismissible fade in" role="alert">
                              {{ flash_message }}
                          </div>
                      {% endfor %}


                      <div class="alert alert-success alert-dismissible fade in" style="width: 40%;margin-right: auto;margin-left: auto;" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                    </button>
                    <strong> Information ! </strong> <br> En cliquant sur envoyer le SMS sera transmis aux destinataires suivants : 
                    <ul> 
                    {% for vip in list %}
                    <li>
                      {{ vip }}
                      </li>
                    {% endfor %}
                    </ul>
                  </div>


 {{ form_start(form, { 'attr' : { 'id' : 'demo-form2', 'data-parsley-validate': '', 'class' : 'form-horizontal form-label-left', 'novalidate': ''  } } ) }}

  <div class="form-group">
    <label class="control-label col-xl-md-3 col-sm-3 col-xs-12" for="last-name"> Titre  <span class="required">*</span>
	</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
	{{ form_widget(form.title, {'attr' : {'class' : 'form-control col-md-7 col-xs-12', 'placeholder' : 'Titre' } }) }}
    </div>
 </div>
  
  
    <div class="form-group">
    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name"> Corps du message  <span class="required">*</span>
	</label>
    <div class="col-md-6 col-sm-6 col-xs-12">
	{{ form_widget(form.text, {'attr' : {'class' : 'form-control col-md-7 col-xs-12', 'placeholder' : 'Corps du message' } }) }}
    </div> <br> 
   
 </div>
 <div style="float:right">
  Nombre de caractères : <span id="counter"> 0 </span>
  </div>
    <input type="submit" class="btn btn-default"  value="Envoyer sms" onclick="return confirm('cette action envoie des SMS !')"/>
    
   




{{ form_end(form) }}

                  </div>
                  </div>
                </div>
              </div>



        </div>

{% endblock %}

 {% block javascripts %}
      {% javascripts '@AppBundle/Resources/public/js/bootstrap.min.js'
      '@AppBundle/Resources/public/js/custom.min.js'
      '@AppBundle/Resources/public/js/fastclick.js'
      '@AppBundle/Resources/public/js/ngprogress.js'
      '@AppBundle/Resources/public/js/switchery.min.js'
       '@AppBundle/Resources/public/js/fullscreen.js'
      %}
          <script src="{{ asset_url }}"></script>
      {% endjavascripts %}
      {% endblock %}