{% extends 'dashboard.html.twig' %}

{% block header %}
<script
  src="https://code.jquery.com/jquery-2.2.4.min.js"
  integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
  crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.js"> </script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/switchery/0.8.2/switchery.min.css">
  <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/jquery.dataTables.min.css"/>
  
  {% block stylesheets %}
      
    {% stylesheets '@AppBundle/Resources/public/css/*' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% endblock %}

{% block body %}
<div class="right_col" role="main" style="min-height: 478px;">
              <div class="title_left">
                <h3>Gestion des destinataires sms</h3>
                <div style="margin-bottom:4px;">  
               <small> <a href="/"> Accueil </a> >  <a href="/settings">  Paramètres   </a> >  <a href="/vip/add">  <span style="color:red"> Gestion des destinataires SMS  </span>  </a>  </small>
              </div>
              </div>
        <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> {{ pageTitle }} </h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>

                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br>
                    
                    {% for flash_message in app.session.flashBag.get('Erreur') %}
                          <div class="alert alert-danger alert-dismissible fade in" role="alert">
                              {{ flash_message }}
                          </div>
                      {% endfor %}

                        {% for flash_message in app.session.flashBag.get('Notice') %}
                          <div class="alert alert-warning alert-dismissible fade in" role="alert">
                              {{ flash_message }}
                          </div>
                      {% endfor %}

                        {% for flash_message in app.session.flashBag.get('success') %}
                          <div class="alert alert-success alert-dismissible fade in" role="alert">
                              {{ flash_message }}
                          </div>
                      {% endfor %}

                        {{ form_start(form, { 'attr' : { 'id' : 'demo-form2', 'data-parsley-validate': '', 'class' : 'form-horizontal form-label-left', 'novalidate': ''  } }) }}

                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Nom destinataire <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          
                          {{ form_widget(form.name, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12', "required" : "true"} } )}}
                        </div>
                      </div>
                      
                        <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="last-name">Numéro de tél <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          
                          {{ form_widget(form.phone, { 'attr' : { 'class' : 'form-control col-md-7 col-xs-12', "required" : "true", 'placeholder' : 'exemple: +33 6 05 04 03 02'} } )}}
                        </div>
                      </div>
                      

                      
                  
                
                                
                      
                      <div class="ln_solid"></div>
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                          <input type="submit" class="btn btn-success" value="Valider">
                        </div>
                      </div>
                        {{ form_end(form) }}
                    
                  </div>
                </div>
              </div>
            </div>
  
  <div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2> Destinataires SMS </h2>


<table id="datatable" class="table table-striped table-bordered dataTable no-footer" role="grid" aria-describedby="datatable_info">
  <thead>
<tr>
<td> Nom </td>
<td> Numéro de téléphone </td>
<td> Etat </td>
<td> Actions </td>
</tr>
</thead>
<tbody>
{% for vip in vips %}
  <tr>
    <td> {{ vip[0].name }} </td>
    <td> {{ vip[0].phone }}</td>
    <td>
      
  {% set link =path('vip_deactivate',{'id' : vip[0].Id }) %}
        {% if vip[0].activationStatus == true %}     
                Inactif   <input onChange="document.location.href='{{link}}'" type="checkbox" class="js-switch" checked="" data-switchery="true" style="display: none;"> Actif
          {% else %}
                     Inactif <input onChange="document.location.href='{{link}}'" type="checkbox" id="incident_ddiConnue" name="incident[ddiConnue]" required="required" class="js-switch" data-switchery="false" style="display : none" value="1"> Actif
          {% endif %}
      
    </td>
    <td>
        <a class="btn btn-round btn-warning" href="{{path('vip_update',{'idVip' : vip[0].id })}}"> Mettre à jour  </a>
        <a href="{{path('vip_delete',{'id' : vip[0].Id })}}" class="btn btn-round btn-danger" onclick="return confirm('Confirmez-vous la suppression de ce destinataire ? \nAttention : Cette action est irréversible.')"> <i class="glyphicon glyphicon-trash"></i> Supprimer  </a>
    </td>
    
    
{% endfor %}
</tbody>
</table>
          </div>
  </div>
  </div>

</div>
</div>





{% endblock %}

 {% block javascripts %}
      {% javascripts '@AppBundle/Resources/public/js/bootstrap.min.js'
      '@AppBundle/Resources/public/js/custom.min.js'
      '@AppBundle/Resources/public/js/fastclick.js'
      '@AppBundle/Resources/public/js/ngprogress.js'
      '@AppBundle/Resources/public/js/switchery.min.js'
      %}
          <script src="{{ asset_url }}"></script>
      {% endjavascripts %}
      {% endblock %}